html,body{margin: 0;padding:0;height:100%}
h1,h2,h3,h4,h5,h6,blockquote{margin:0}

#content {
  box-sizing: border-box;
  max-width: 972px;
  margin: 0 auto;
  padding: 40px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
}

#content h1 {
  padding-bottom: .3rem;
  font-size: 2rem;
  border-bottom: 1px solid #eaecef;
}

#content h2 {
  padding-bottom: .3rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #eaecef;
}

#content a {
  color:#0366d6;
  text-decoration:none;
}
#content a:hover{text-decoration:underline}

#content img {
  max-width: 100%;
}

#content blockquote {
  padding: 0 1rem;
  color: #6a737d;
  border-left: .25rem solid #dfe2e5;
}

#content a.expandable-gif:hover {
  text-decoration: none;
  border-bottom: 1px dashed;
}

@media only screen and (max-width: 767px) {
  #content img {
    max-width: none;
    margin-left: -40px;
    width: calc(100% + 80px);
  }
}
